
        body {
            font-family: 'Kanit', sans-serif
        }

        .headercs {
            font-size: 30px;
            background-color: chartreuse;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .content {
            color: aquamarine;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
